<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager</title>
</head>
<body>
    <div class="navbar">
        <h1>Task Manager</h1>
        <div>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            
            {% if user.is_authenticated %}
                {% if user.username == "admin" %}
                    <a href="{% url 'create_task' %}">Create Task</a>
                {% endif %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
<!-- Jatin Task Manager  -->
